h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Roboto'!important;
}

.h100vh_ {
    height: 100vh;
}
section.cover {      
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/bg_cover.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
section.cover h1{
    font-size: 5rem;
    text-align: center;
}
h1.titleSection{
    color:#025c9d;
    font-weight: 700;
}
h3.slogan{
    color: #000;
    margin: 0px 0px 260px 0px;
    text-align: center;
    font-size: 30px;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
p.info {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    color: #000;
}
table.table.contadores {
    width: 70%;
    margin: 0 auto 30px auto;
}
.table.contadores thead th:first-child {
    border-right: 1px solid #dee2e6;
}
.table.contadores thead th {
    text-align: center;
    font-size: 20px;
    color: #959595;
}
.table.contadores thead th span {
    color: #000;
    font-size: 3rem;
}
/*Grid reparto*/
.gd-m-4 {
    grid-template-columns: repeat(4,1fr);
}
.gd-xs-2 {
    grid-template-columns: repeat(2,1fr);
}
.gd-gap-15 {
    grid-gap: .9375rem;
}
.gd {
    display: grid;
}
.person-card.person-card-col {
    text-align: center;
}
.ovw .person-card {
    margin-bottom: .9375rem;
}
.person-card {
    position: relative;
}
.thumbnail {
    position: relative;
    margin-bottom: .3125rem;
    z-index: 0;
}
figure {
    margin: 0;
}
.thumbnail-container, .thumbnail-link {
    display: block;
    position: relative;
    overflow: hidden;
}
.thumbnail-img {
    display: block;
    width: 100%;
    height: auto;
}
.person-card .meta-title {
    margin-bottom: 0;
}
.meta-title {
    font-size: .9375rem;
}
.person-card .meta-title-link {
    font-weight: 700;
    color: #015d9d;
    text-decoration: none;
}
.person-card-col .meta-title-link:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section.reparto {
    margin-bottom: 40px;
}
